.idea/*

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
.gradle/
SpringBootAOP/build/
SpringBootAsync/build/
SpringBootExcel/src/main/resources/static/
SpringBootExcel/src/main/resources/templates/
SpringBootRest/build/
SpringBootSocial/build/
SpringBootValidator/build/
SpringBootWebFlux/build/
/SpringBootSocial/src/main/resources/application-social.properties
SpringBootAsync/src/main/resources/static/
SpringBootAsync/src/main/resources/templates/
SpringBootCustomJackson/src/main/resources/static/
SpringBootCustomJackson/src/main/resources/templates/
SpringBootExcel/build/
SpringBootException/src/main/resources/
SpringBootException/src/test/
SpringBootInterceptor/src/main/resources/static/
SpringBootInterceptor/src/main/resources/templates/
SpringBootOAuth2/src/main/java/com/example/config/
SpringBootOAuth2/src/main/java/com/example/domain/
SpringBootOAuth2/src/main/java/com/example/service/
SpringBootOAuth2/src/main/resources/static/
SpringBootOAuth2/src/main/resources/templates/
SpringBootQueryDsl/src/main/resources/static/
SpringBootQueryDsl/src/main/resources/templates/
SpringBootRabbitMQ/src/main/resources/
SpringBootRabbitMQ/src/test/
SpringBootRest/src/main/resources/static/
SpringBootRest/src/main/resources/templates/
SpringBootRestDocs/src/main/resources/static/
SpringBootRestDocs/src/main/resources/templates/
SpringBootSecurityAddRedis/src/main/resources/static/
SpringBootSecurityAddRedis/src/main/resources/templates/
SpringBootSecurityAddRedis/src/test/
SpringBootSecurityJwt/src/main/resources/static/
SpringBootSecurityJwt/src/main/resources/templates/
SpringBootSwagger/src/main/resources/static/
SpringBootSwagger/src/main/resources/templates/
SpringBootTest/src/main/resources/static/
SpringBootTest/src/main/resources/templates/
SpringBootWebSocket/build/
