<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Hello Facebook</title>
</head>
<body>
<!--
<button type="button" id="btn-social-facebook">Facebook Login</button>

<div id="status">
</div>
-->
	<h3>Connect to Facebook</h3>

	<form action="/connect/facebook" method="POST">
		<input type="hidden" name="scope" value="user_posts" />
		<div class="formInfo">
			<p>You aren't connected to Facebook yet. Click the button to
				connect this application with your Facebook account.
			</p>
		</div>
		<p>
			<button type="submit">Connect to Facebook</button>
		</p>
	</form>
<!--
<script type="application/javascript" src="/webjars/jquery/3.1.0/jquery.min.js"></script>
<script type="application/javascript" src="/common.js"></script>
<script type="application/javascript" src="/facebook-connect.js"></script>
-->
</body>
</html>