name: Test
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      dynamodb:
        image: amazon/dynamodb-local:1.11.477
        ports:
          - 8000:8000
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'
      - name: Check Gradle Version
        run: |
          chmod +x gradlew
          ./gradlew --version
      - name: Test task with Gradle Wrapper
        run: |
          ./gradlew --parallel --max-workers=4 test
      - name: If failure then upload test reports
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          path: '*/build/reports/tests'
          name: SpringBootSample-reports
          retention-days: 7
