name: Test
on: [push]
jobs:
  test:
    runs-on: ubuntu-18.04
    services:
      dynamodb:
        image: amazon/dynamodb-local:1.11.477
        ports:
          - 8000:8000
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v2
        with:
          java-version: 1.8
      - uses: actions/cache@v2.1.4
        name: Load cached Gradle Wrapper
        with:
          path: ~/.gradle/wrapper/dists/
          key: ${{ runner.os }}-gradle-wrapper-${{ hashFiles('gradle/wrapper/gradle-wrapper.properties') }}
      - uses: actions/cache@v2.1.4
        name: Load cached dependency
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
      - name: Check Gradle Version
        run: |
          chmod +x gradlew
          ./gradlew --version
      - name: Test task with Gradle Wrapper
        run: |
          ./gradlew --parallel --max-workers=4 test
      - name: If failure then upload test reports
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          path: '*/build/reports/tests'
          name: SpringBootSample-reports
          retention-days: 7
